.btn{
  display: inline-block;
  text-align: center;
  outline: none;
  color: inherit;
  border: 1px solid currentColor;
  line-height: 1;
  padding: 10px 25px;
  margin: 0;

  &:hover{
    background-color: rgba($text-color, 0.7);
    color: $white;
  }
  &--header{
    color: $white;
  }
}

