.footer{
  border-top: 1px solid #e2e2e1;
  padding-top: 10px;
  &__row{
    display: flex;
    flex-wrap: wrap;
  }
  &__col{
      flex: 0 0 25%;
      max-width: 25%;
      @media (max-width: $breakpoint-md){
        flex: 0 0 50%;
        max-width: 50%;
      }
    &--large{
      flex: 0 0 50%;
      max-width: 50%;
      @media (max-width: $breakpoint-md){
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }

  &__title{
    font-weight: 100;
    margin: 10px 0;
    font-size: 19px;
  }
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
  }
  &__item{
    margin-bottom: 5px;
    a{
      &:after{
        content: '»';
        display: inline-block;
        margin-left: 3px;
        color: #282828;
      }
      &:hover{
        text-decoration: underline;
      }
    }
  }

  &__copyright{
    padding: 10px 0;
    font-size: 11px;
    text-align: center;
  }
}