.header{
  &__upper{
    background-image: $header-gradient-bg;
  }
  &__title-wrapper{
    padding: 12px 0;
    position: relative;
  }
  &__logo{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
  }
  &__title{
    @include font-family('Myriad Pro Bold', normal, normal);
    margin: 0;
    text-transform: uppercase;
    padding-left: 160px;
    color: $brown;
    font-size: 20px;
    @media (max-width: $breakpoint-md){
      padding-left: 120px;
    }
  }


  &__nav{
    background-color: $brown;
    position: relative;
  }
  &__nav-wrapper{
    padding: 20px 0 20px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $breakpoint-md){
      padding-left: 120px;
    }
  }
}

.logo{
  display: block;
  img{
    width: 100px;
    height: 100px;
  }
}

.nav{
  color: $white;
  text-transform: uppercase;
  // position: relative;
  &__list{
    font-size: 16px;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    @media (max-width: $breakpoint-md){
      display: none;
      align-items: center;
      flex-direction: column;
      position: absolute;
      z-index: 2;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $brown;
    }
    &.nav__list--shown{
      display: flex;
    }
  }
  &__item{
    > a{
      color: inherit;
      display: inline-block;
      padding: 10px 20px;
      &:hover{
        background-color: $brown-lightest;
      }
      @media (max-width: $breakpoint-md){
        width: 100%;
        text-align: center;
      }
    }
  }
  &__hamburger{
    display: none;
    @media (max-width: $breakpoint-md){
      display: block;
    }
  }
  svg{
    fill: $white;
  }
}



.hamburger{
  display: inline-block;
  padding: 17px 6px 13px;
  border-radius: 3px;
  span{
    display: block;
    width: 20px;
    margin: 0 auto;
    height: 2px;
    background-color: $white;

    &:after, &:before{
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background-color: $white;
    }
    &:before{
      transform: translateY(-6px);
    }
    &:after{
      transform: translateY(4px);
    }
  }
}
