.search-controls{
  &__upper{
    background-image: $search-gradient-bg;
  }  
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $breakpoint-xl){
      display: block;
    }
  }
  &__search{
    padding: 10px 0;
  }
  &__sort{
    padding: 10px 0;
  }
}

.search{
  display: flex;
  align-items: center;
  &__title{
    flex: 0 0 160px;
    max-width: 160px;
    @media (max-width: $breakpoint-md){
      margin-right: 10px;
      flex: 0 0 auto;
      max-width: auto;
    }
  }
  &__form{
    position: relative;
  }
  &__input{
    padding: 8px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  &__button{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 0;
    svg{
      fill: $text-color;
    }
  }
}

.sort{
  display: flex;
  align-items: center;
  &__list{
    list-style-type: none;
    padding-left: 0;
    margin: 0 0 0 10px;
    display: flex;
  }
  &__item{
    margin: 0 10px;
    a{
      color: inherit;
      border-bottom: 3px solid transparent;
      display: inline-block;
      padding: 5px 0;  
      &:hover{
        border-bottom: 3px solid #3a3f6d;
      }    
    }
    &--active{
      a{
        border-bottom: 3px solid #3a3f6d;
      }      
    }
  }
}

.categories{
  background-color: $pale;
  &__title{
    padding: 15px 0 10px;
  }
  &__list{
    list-style-type: none;
    margin: 0 -5px 5px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    margin: 0 5px 5px;
    a{      
      color: inherit;
      display: inline-block;
      background-color: $white;
      border-radius: 30px;
      padding: 3px 15px;
      border: 1px solid #867d67;
    }
    &--active{
      a{
        background-color: rgba($text-color, 0.7);
        color: $white;
      }      
    }
  }
  &__text{
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid #e2e2e1;
    p{
      margin: 0;
    }
  }
}