<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
  <!-- Head-->
  <head>
    <title>Tekijapankki</title>
    <!-- Main Meta information-->
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="Tekijapankki">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/style.min.css">
  </head>
  <body>
    <!-- Header-->
    <header class="header">
      <div class="header__upper">
        <div class="container">
          <div class="header__title-wrapper">
            <h1 class="header__title">Tekijäpankki</h1>
            <div class="header__logo">
              <!-- Logo-->
              <a class="logo" href="#">
                <img src="img/logo.svg" alt="logo">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="header__nav">
        <div class="container">
          <div class="header__nav-wrapper">
            <nav class="nav">
              <div class="nav__hamburger">
                <a class="hamburger" href="javascript:void(0);">
                  <span></span>
                </a>
              </div>
              <ul class="nav__list">
                <li class="nav__item">
                  <a href="#">
                    <svg width="18" height="16">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#house-white"></use>
                    </svg>
                  </a>
                </li>
                <li class="nav__item">
                  <a href="#">Tekijät</a>
                </li>
                <li class="nav__item">
                  <a href="#">Tietoa palvelusta</a>
                </li>
              </ul>
            </nav>
            <div class="header__btn">
              <a class="btn btn btn--header" href="#">Pyydä tarjous</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main></main>
    <!-- Footer-->
    <footer class="footer">
      <div class="container">
        <div class="footer__row">
          <div class="footer__col footer__col--large">
            <h4 class="footer__title">Löydä lähin luotettava tekijä!</h4>
            <div class="footer__text">
              <p>Tekijäpankista löydät osaavat ja luotettavat tekijät maalaustyöllesi.</p>
              <p>
                <a href="#">Lue lisää</a>
              </p>
            </div>
          </div>
          <div class="footer__col">
            <h4 class="footer__title">Yleistä</h4>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="#">Tietoa palvelusta</a>
              </li>
              <li class="footer__item">
                <a href="#">Ota yhteyttä</a>
              </li>
            </ul>
          </div>
          <div class="footer__col">
            <h4 class="footer__title">Seuraa meitä</h4>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="#">Facebook</a>
              </li>
              <li class="footer__item">
                <a href="#">Google+</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__copyright">© 2016 Tikkurila Oyj -
        <a href="">www.tikkurila.fi</a>
      </div>
    </footer>
    <script src="js/script.min.js"></script>
  </body>
</html>