/*
  Project variables
  =================
*/


/*
  Flex Sass grid generator variables
  ==================================
*/

$base-font-size:              16px;
$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;



$screen-xs:                   0; // Extra small screen / phone
$screen-md:                   750px; // Medium screen / tablet
$screen-xl:                   960px; // Extra large screen / wide desktop


// Only for the overlay gallery
$breakpoint-md:               769px; // Medium screen / tablet
$breakpoint-xl:               959px; // Extra large screen / wide desktop


//------------------------------------------------------------------------------
//  Colors
//------------------------------------------------------------------------------


// Color table

$white:                         #ffffff;
$black:                         #000000;

$text-color:                     #4f4f4f;

$brown:                         #867d67;
$brown-light:                   #ab8b3f;
$red:                           rgb(239, 65, 53);
$brown-lightest:                #aba495;
$pale:                          #f7f7f7;


$header-gradient-bg:            linear-gradient(180deg,#fff 0,#fff 29%,#fdfdfd 37%,#e7e6e6 86%,#e2e2e2);
$search-gradient-bg:            linear-gradient(0deg, rgb(226, 226, 225), rgb(255, 255, 254));



//------------------------------------------------------------------------------
//  Typography
//------------------------------------------------------------------------------

$font-family:                 myriad-pro, "Myriad Pro", "Helvetica Neue", Helvetica, sans-serif;;


$font-size:                   15px;


