include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer
  .container
    +e.wrapper
      +e.item
        +e.H4.title Löydä lähin luotettava tekijä!
        +e.text
          p Tekijäpankista löydät osaavat ja luotettavat tekijät maalaustyöllesi.
          p
            a(href="#") Lue lisää
      +e.item
        +e.H4.title Yleistä
        +e.UL.list
          +e.item
            a(href="#") Tietoa palvelusta
          +e.item
            a(href="#") Ota yhteyttä
      +e.item
        +e.H4.title Seuraa meitä
        +e.UL.list
          +e.item
            a(href="#") Facebook
          +e.item
            a(href="#") Google+


  +e.copyright © 2016 Tikkurila Oyj - www.tikkurila.fi







